html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.title {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.title--large {
  font-size: 48px;
}

.title--medium {
  font-size: 36px;
}

.article__section:not(:last-child) {
  margin-bottom: 80px;
}

.article__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article__text:not(:last-child) {
  margin-bottom: 20px;
}

.article__img--mb {
  margin-bottom: 80px;
}

.article__img,
.article__video {
  width: 100%;
}

.article__list {
  margin-top: 0;
  padding-left: 16px;
}

.article__item:not(:last-child) {
  margin-bottom: 12px;
}

.article__video {
  margin-bottom: 40px;
}
