body {
  box-sizing: border-box;
  font-size: 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #000;
}

.nav__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.nav__link {
  font-weight: 700;
  color: #000;
}

.header__call {
  color: #000;
  text-decoration: none;
}
