:root {
  /* font-family */
  --font-family: "GothamPro", sans-serif;

  /* colors */
  --main-color: #fff;
  --accent-color: #ffea00;
  --bg-color: #0e0e12;
  --secondary-bg-color: #202020;
  --secondary-color: #c6c6c6;
  --disabled-color: #5d5d56;
  --disabled-glow-color: #5d5d564d;
  --shadow-color: #181817;
  --overlay: linear-gradient(rgba(30, 30, 30, 0.9), #000 1810%);

  /* shadows */
  --shadow-glow: 0 0 6px 2px var(--main-glow-color);
  --shadow-accent-glow: 0 0 6px 2px var(--accent-glow-color);
  --shadow-disabled-glow: 0 0 6px 2px var(--disabled-glow-color);

  /* container */
  --container-width: 1572px;
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.2s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
