* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  background-color: #f00;
  min-height: 100px;
  grid-column: 1/-1;
}

.aside {
  background-color: #e2e20d;
  grid-column: 1/4;
}

.main {
  background-color: #31bb0a;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-column: 4/-1;
}

.main .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.article {
  background-color: #de6e05;
  min-height: 400px;
}

.footer {
  background-color: #0b2fe2;
  min-height: 250px;
  grid-column: 1/-1;
}

@media (max-width: 1200px) {
  .main .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .aside {
    display: none;
  }

  .main {
    grid-column: 1/-1;
  }
}
